.wheel {
  text-align: center;
}

.wheel__title,
.prize__title {
  max-width: 770px;
  margin-bottom: 0.8em;
  font-size: 1.5em;
  font-weight: bold;
}

.wheel__wrapper {
  padding: 1.5em;
  border: 2px solid #c82333;
  margin: 2em 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 0 0 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.order__title {
  font-size: 1.1em;
  font-weight: bold;
}

.wheel__pic {
  position: relative;
}

.prize-wheel {
  -webkit-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}

.wheel__cursor {
  width: 158px;
  height: 158px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
@media (max-width: 600px) {
  .wheel__cursor {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 600px) {
  .wheel__pic img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border: 0;
  }
}

.wheel__cursor-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 49%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 45%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  -webkit-box-shadow: white 0 -2px 0 inset, white 0 2px 0 inset,
    rgba(0, 0, 0, 0.4) 0 0 5px;
  box-shadow: white 0 -2px 0 inset, white 0 2px 0 inset,
    rgba(0, 0, 0, 0.4) 0 0 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.spin {
  -webkit-animation: spin 7s ease-in-out forwards;
  animation: spin 7s ease-in-out forwards;
}

@-webkit-keyframes spin {
  70% {
    -webkit-transform: rotate(1783deg);
    transform: rotate(1783deg);
  }
  100% {
    -webkit-transform: rotate(1774deg);
    transform: rotate(1774deg);
  }
}

@keyframes spin {
  70% {
    -webkit-transform: rotate(1783deg);
    transform: rotate(1783deg);
  }
  100% {
    -webkit-transform: rotate(1774deg);
    transform: rotate(1774deg);
  }
}

/*order*/
.order {
  display: none;
}

.order__product {
  position: relative;
  text-align: center;
  margin-right: 20px;
}

.sale {
  position: absolute;
  width: 22%;
  top: 17%;
  left: -3%;
  font-size: 29px;
  font-weight: bold;
  color: #fff;
  padding: 7% 0;
  letter-spacing: -4px;
  text-shadow: 1px 1px 2px black;
  z-index: 1;
}
@media (max-width: 500px) {
  .sale {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.bottom-teaser .sale {
  display: none;
}
.bottom-teaser .sale.shown {
  display: block;
}

.order__afisha {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
  margin-bottom: 1.5em;
}

.order__text {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 60%;
  flex: 0 1 60%;
  padding: 10px;
  border: 2px dashed #c82333;
}

.order__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.order__info {
  position: absolute;
  bottom: 20%;
  right: -10%;
  -webkit-transform: rotateZ(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotateZ(-7deg);
  padding: 0.8em;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #c82333;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 20px;
  font-weight: bold;
}

@media (max-width: 500px) {
  .order__info {
    right: 0;
  }
  .order__text,
  .order__afisha {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
  .order__product {
    margin-right: 0;
  }
}

.order__lead {
  letter-spacing: 2px;
}

.order__price {
  display: inline-block;
}
.order__price.old {
  text-decoration: line-through;
}
.order__price.new {
  font-size: 2em;
  color: #fff;
  border-bottom: 2px solid #59c12d;
}

.timer {
  font-size: 1.5em;
  margin: 0.5em 0;
  font-weight: bold;
}

.pack {
  font-size: 1.3em;
  font-weight: bold;
}

/*popup*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.popup {
  position: absolute;
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 500px;
  padding: 2.9em 0.5em 1em 0.5em;
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-animation: toUp 1s ease 0.2s forwards;
  animation: toUp 1s ease 0.2s forwards;
}
@media (min-width: 320px) {
  .popup {
    font-size: 16px;
    font-size: calc(0.0070175439 * 100vw + 15.7543859649px);
  }
}
@media (min-width: 1460px) {
  .popup {
    font-size: 26px;
  }
}
@media (max-width: 700px) {
  .popup {
    width: 90%;
    max-width: 90%;
  }
}

@-webkit-keyframes toUp {
  100% {
    top: 50%;
  }
}

@keyframes toUp {
  100% {
    top: 50%;
  }
}

.popup__body {
  min-width: 300px;
}

.popup__title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.popup__text {
  padding-bottom: 1em;
}

.popup__icon {
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 4.2em;
  height: 4.2em;
  border-radius: 100%;
  color: #fff;
}
.popup__icon.prize {
  background-color: #23c85d;
}
.popup__icon.prize:before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 2.2em;
  height: 1.1em;
  border-left: 3px solid;
  border-bottom: 3px solid;
}
.popup__icon.false {
  background-color: #c82333;
}
.popup__icon.false:before,
.popup__icon.false:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 2.2em;
  height: 2px;
  background-color: #fff;
}
.popup__icon.false:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.popup__icon.false:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.btn {
  display: inline-block;
  font-size: 1em;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #0599ee;
  -webkit-transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  cursor: pointer;
  text-decoration: none;
  color: #fff !important;
  background: #4fc732 !important;
  border-bottom: 3px solid #389620 !important;
}
.btn:hover {
  background-color: #fff;
  color: #c82333;
  border-color: currentColor;
}
.btn--submit {
  /* background-color: #59c12d; */
  font-size: 1.2em;
}

.main-gkk {
  min-width: 300px;
  overflow: hidden;
  line-height: normal;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}
.main-gkk img {
  width: auto;
  max-width: 100%;
}
.form-gkk {
  font-family: "Open Sans", sans-serif;
}
.wrap-form-gkk * {
  box-sizing: border-box;
  outline: 0;
}
.wrap-form-gkk {
  padding: 10px 8px 10px 8px;
  max-width: 378px;
  margin: 10px auto;
  box-sizing: border-box;
}
.form-gkk {
  border: 1px solid #dbdce0;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0;
}
.form-body-gkk__form {
  padding: 0 15px 8px 15px;
}
.header-gkk {
  background: rgba(219, 220, 224, 0.3);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 12px 0 12px;
}
.logo-gkk {
  margin-right: 10px;
}
.logo-gkk img {
  display: block;
}
.right-header-gkk {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
}
.text-header-gkk {
  position: relative;
  top: 0;
  max-width: 197px;
  font-size: 9px;
  line-height: 10px;
  text-align: left;
  color: #000;
}
.flag-header-gkk {
  margin-left: 10px;
}
.flag-header-gkk img {
  display: block;
  max-width: 34px;
}
.body-pilsen-gkk {
  padding: 5px 15px 0 15px;
  margin: 0 0 12px 0;
}
.tit-pilsen-gkk {
  margin: 0 0 20px 0;
  font-size: 20px;
  width: 100%;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}
.tit-pilsen-gkk b {
  position: relative;
  z-index: 5;
  display: inline-block;
  font-weight: 400;
}
.tit-pilsen-gkk b:before {
  position: absolute;
  left: -1%;
  top: 0;
  width: 102%;
  height: 100%;
  z-index: -1;
  content: "";
  display: block;
  background: #fff280;
}
.tovar-gkk {
  display: flex;
  align-items: center;
}
.img-tovar-gkk {
  position: relative;
  width: 54%;
  text-align: center;
}
.img-tovar-gkk img {
  display: block;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.in-img-gkk {
  position: relative;
  display: inline-block;
  max-width: 90%;
}
.die-price-gkk {
  position: absolute;
  bottom: -11px;
  right: -8px;
  width: 108px;
  height: 75px;
  background: url(../images/die-price-gkk.svg) no-repeat;
  background-size: cover;
}
.desc-tovar-gkk {
  width: 149px;
  margin-left: 7px;
}
.reviews-gkk {
  margin: 0 0 7px 0;
  background: #fafafa;
  border-radius: 5px;
  padding: 8px 7px 4px 8px;
  text-align: center;
}
.in-desc-gkk {
  width: 145px;
}
.link-reviews-gkk {
  margin: 0 0 2px 0;
  font-size: 8px;
  line-height: 11px;
  font-weight: 700;
}
.bot-reviews-gkk {
  display: flex;
  align-items: center;
  justify-content: center;
}
.star-gkk {
  position: relative;
  top: 1px;
  display: flex;
  margin-right: 4px;
}
.item-star-gkk {
  width: 10px;
  height: 10px;
  margin-left: 2.46px;
  background: url(../images/star-gkk1.svg) no-repeat;
  background-size: cover;
}
.item-star-gkk2 {
  width: 10px;
  height: 10px;
  margin-left: 2.46px;
  background: url(../images/star-gkk2.svg) no-repeat;
  background-size: cover;
}
.item-star-gkk:first-child {
  margin-left: 0;
}
.avail-gkk {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  white-space: nowrap;
}
.avail-gkk span {
  font-size: 8px;
  line-height: 11px;
}
.die-gkk {
  margin: 0 0 7px 0;
}
.die-gkk img {
  display: block;
  max-width: 100%;
}
.block-price-gkk {
  margin: 21px 0 0 0;
}
.old-price-gkk {
  font-size: 14px;
  line-height: 20px;
  color: #1e323c;
}
.old-price-gkk span {
  position: relative;
}
.old-price-gkk span:before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: red;
}
.new-price-gkk {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #1e323c;
}
.wining-gkk {
  margin-top: 1px;
}
.wining-gkk img {
  display: block;
  width: 100%;
}
.protect-gkk {
  text-align: center;
  margin: 13px 0 0 0;
  color: #333;
  padding-bottom: 5px;
}
.in-protect-gkk {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 26px;
  font-size: 8px;
  line-height: 11px;
  color: #000;
  text-align: left;
}
.in-protect-gkk:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 17px;
  height: 20px;
  margin: -11px 0 0 0;
  content: "";
  display: block;
  background: url(../images/protectsvg.svg) no-repeat;
}
.bottom-gkk {
  display: flex;
  justify-content: space-between;
  margin-left: -2px;
}
.img-bot-gkk {
  margin-left: 2px;
}
.img-bot-gkk img {
  display: block;
  width: 100%;
}
.marg-gkk {
  margin-left: 2px;
  margin-right: 0;
}
.tit-wing-gkk {
  font-family: Arial;
  margin: 0 0 3px 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
}
.info-wing-gkk {
  font-size: 6px;
  line-height: 8px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 3px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
}
.info-wing-gkk span {
  color: #eb4b35;
}
.btn-gkk button:disabled {
  background: #99d79a;
  border-color: #74a875;
  cursor: default;
}
.field-gkk.no-uppercase label {
  text-transform: none;
  color: #606368;
}
.in-price-gkk {
  position: relative;
  top: 14px;
  text-align: center;
  transform: rotate(11deg);
}
.old-price_gkk {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 15px;
  color: #000;
  font-weight: 700;
}
.tit-in-price-gkk {
  font-size: 7px;
  line-height: 11px;
  color: #fff;
}
.new-price-gkk {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.new-price-gkk span {
  position: relative;
}
.new-price-gkk span:before {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  content: "";
  display: block;
  height: 2px;
  background: rgba(255, 255, 255, 0.9);
}
.die-gkk1 {
  width: 129px;
  height: 45px;
  font-size: 8px;
  font-weight: 700;
  line-height: 11px;
  align-items: center;
  background: url(../images/die-gkk1-2.svg) no-repeat;
  background-size: cover;
  display: flex;
  padding-left: 45px;
  padding-right: 15px;
}
.die-gkk2 {
  width: 129px;
  height: 48px;
  font-size: 9px;
  line-height: 13px;
  font-weight: 700;
  align-items: center;
  background: url(../images/die-gkk2-2-2.svg) no-repeat;
  background-size: cover;
  display: flex;
  padding-left: 45px;
  padding-right: 15px;
}
.btn-gkk {
  margin-top: 13px;
}
.btn-gkk button {
  background: #4fc732;
  border-radius: 5px;
  border: 0;
  width: 100%;
  padding: 0;
  height: 53px;
  border-bottom: 3px solid #389620;
  outline: 0;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.field-gkk {
  position: relative;
  margin-bottom: 19px;
}
.field-last-gkk {
  margin-bottom: 15px;
}
.field-gkk input {
  background: #fff;
  padding: 0 20px 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #dbdce0;
  border-radius: 5px;
  outline: 0;
  height: 50px;
  width: 100%;
  font-size: 15px;
  line-height: 10px;
  font-family: "Open Sans", sans-serif;
}
.field-gkk label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  width: 60%;
  z-index: 20;
  font-weight: 400;
  line-height: normal;
  top: 15px;
  font-size: 14px;
  background: #fff;
  transition: 0.05s;
  text-transform: uppercase;
}
.field-gkk.act-gkk label {
  top: -7px;
  padding: 0 5px 0 5px;
  font-style: normal;
  width: auto;
  font-weight: bold;
  font-size: 11px;
  color: #00b67a;
  text-transform: none;
}
.field-gkk.act-gkk input {
  border-color: #00b67a;
}
.flag img {
  height: 17px;
  display: block;
}
.arrow-p {
  margin-left: 8px;
}
.btn-gkk button.disabled {
  background: #9ed6c3;
  border-color: #7ac2aa;
  cursor: default;
}
.all-gkk-phone {
  position: relative;
}
.new-price-bl {
  text-align: center;
  margin: 10px 0 0 0;
}
.tit-new-price-bl {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 4px 0;
}
.die-new-price-bl {
  background: url(../images/die-new-price.svg) no-repeat;
  width: 140px;
  height: 66px;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.die-new-price-bl s {
  display: block;
  font-size: 10px;
  line-height: 14px;
  color: #000;
}
.sm-price-new {
  font-size: 10px;
  line-height: 14px;
}
.it-price-new {
  font-size: 16px;
  line-height: 22px;
}
.bl-timer-new {
  margin: 0 0 26px 0;
}
.tit-timer-new {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 15px 0;
}
.timer-new-bl {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 5px;
}
.in-timer-new-bl {
  position: relative;
  display: inline-flex;
  background: #4fc732;
  background: -moz-linear-gradient(
    top,
    rgba(79, 199, 50, 1) 0,
    rgba(41, 154, 11, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(79, 199, 50, 1) 0,
    rgba(41, 154, 11, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(79, 199, 50, 1) 0,
    rgba(41, 154, 11, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4fc732',endColorstr='#299a0b',GradientType=0);
  height: 32px;
  padding: 0 5px 1px 10px;
  align-items: center;
  border-radius: 5px;
}
.in-timer-new-bl:before {
  content: "";
  display: block;
  height: 100%;
  top: 0;
  left: 50%;
  position: absolute;
  width: 1px;
  background: #fff;
  margin-left: -1px;
}
.in-timer-new-bl span {
  color: #fff;
}
.new-price-all {
  margin: 12px 0 0 0;
}
.old-price-bl2 {
  font-size: 14px;
  line-height: 20px;
}
.old-price-bl2 span {
  position: relative;
}
.old-price-bl2 span:before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #eb4b35;
}
.new-price-bl2 {
  font-size: 22px;
  line-height: 31px;
}

.price-turkish {
  text-align: center;
}
.price-turkish .old-price-bl2 {
  color: #1e323c;
  font-size: 25px;
  line-height: 35px;
}
.price-turkish .new-price-bl2 {
  font-size: 25px;
  line-height: 35px;
}

.price-eng {
  text-align: center;
}
.price-eng .old-price-bl2 {
  color: #1e323c;
  font-size: 17px;
  line-height: 27px;
}
.price-eng .new-price-bl2 {
  font-size: 17px;
  line-height: 27px;
}

* {
  font-style: normal !important;
}

.copy-pilsen {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.copy-pilsen img {
  display: block;
  margin-left: 10px;
  height: 28px;
}
.copy-pilsen p {
  margin: 0;
  font-size: 16px;
  padding: 0;
}

.accent {
  color: #0599ee;
}

.accent2 {
  color: #f18704;
}
